@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Team Placeholder</h1>
    
    <img src="~/image/Placeholder-logos.jpeg" alt="Logo" />
    <ul>
        <li>Jianhe Wang -- Purchasing</li>
        <li>Ping Guan -- Receiving</li>
        <li>Sandy HUYNH -- Sales</li>
    </ul>
</div>
